.about {
  min-height: 100vh;
  .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    .images-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 60%;
      margin: 0 15%;
    }
    .txt-container {
      max-width: 80%;
      min-width: 40%;
      margin: 0 5%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .about {
    .section-content {
      flex-direction: column-reverse;
    }
  }
}
