header {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  position: relative;
  z-index: 0;
  .img-container {
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 30%;
    z-index: 10;
    transition: all ease;
  }
  .bg-container {
    width: 1600px;
    height: 100vh;
    position: absolute;
    background-image: url('../public/images/main-bg.jpg');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba($color: #000000, $alpha: 0.2);
    background-blend-mode: overlay;
  }
  .txt-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: rgba($main-bg-color, 0.3);
    backdrop-filter: blur(15px);
    z-index: 5;
    h1 {
      margin: 0 3rem;
      font-family: $title;
      font-size: 7rem;
    }
    .title-container {
      display: flex;
      justify-content: space-between;
      width: 300px;
      margin: 0 auto;
      margin: 0 auto;
      font-family: $main-font;
      .title-separator {
        font-weight: 700;
        transform: scale(2);
      }
    }
  }
}
