.section-header {
  display: flex;
  width: 100vw;
  position: relative;
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  .line {
    position: absolute;
    top: 190px;
    height: 2px;
    width: 80%;
    margin: 0 10%;
    background-color: $light-secondary-color;
    z-index: 0;
  }
  .section-title {
    font-size: 3rem;
    margin: 6rem 4rem 1rem;
    width: 300px;
    background-color: $main-bg-color;
    position: relative;
    z-index: 1;
    &.right {
      right: 0;
    }
    &.left {
      left: 0;
    }
    .text1-container,
    .text2-container {
      h1 {
        margin: 0 2rem;
      }
    }
    .text1-container {
      position: relative;
      span {
        font-size: 5rem;
        font-weight: 700;
        position: absolute;
        opacity: 0.4;
        top: -45px;
        left: -40px;
      }
    }
    .text2-container {
      color: $secondary-color;
    }
  }
}
